@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75rem;
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}

p {
  color: #83869a;
  font-size: 1rem;
  font-style: normal;
}

.container {
  padding: 0 1em;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  border-radius: 1.75rem;
  padding: 0.59em 1.5em 0.69em;
  color: #fff;
  color: var(--FFFFFF, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  border: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  margin: 1rem auto;
}

.header .btn {
  background: var(--13183F, #13183f);
}

.header .btn:hover,
.header .btn:focus {
  background: var(--666CA3, #666ca3);
}

.logo {
  justify-content: center;
  align-items: center;
}

footer {
  background: var(--13183F, #13183f);
}

.footer {
  padding: 2.7rem 1em;
  margin: 0 auto;
  color: #fff;
  max-width: 1440px;
}

.footer .logo {
  display: flex;
}

.footer .btn {
  background: var(
    --Gradient-2,
    linear-gradient(180deg, #4851ff 0%, #f02aa6 100%)
  );
}

.footer .btn:hover,
.footer .btn:focus {
  background: var(
    --Gradient-2-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%)
  );
}

.hero--msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero--msg h1 {
  margin: 1.37rem 0 1.69rem 0;
  color: var(--13183F, #13183f);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hero--msg .btn {
  margin-top: 1.5rem;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  width: 167px;
}

.hero--msg .btn:hover,
.hero--msg .btn:focus {
  background: var(
    --Gradient-1-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}

.hero--msg,
.hero--img {
  width: 100%;
}

.tilted--rectangle {
  display: none;
}

.course--hours {
  position: relative;
  bottom: 100px;
  left: 1em;
  width: min(155px, 42%);

  text-align: left;
  padding: 1rem 2.81rem 1rem 1.25rem;
}

.members {
  width: min(30%, 125px);
  padding: 1rem 1.25rem;

  text-align: center;
  position: relative;
  top: 100px;
  margin-left: auto;
}

.course--hours,
.members {
  border-radius: 0.625rem;
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
}

.course--hours h3,
.members h3 {
  color: var(--83869A, #83869a);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  white-space: nowrap;
}

.course--hours span,
.members span {
  color: var(--13183F, #13183f);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.img--bg {
  margin: 0 auto;
  width: min(65%, 435px);
  min-width: 253px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img--bg img {
  width: min(55%, 260px);

  margin-top: 4em;
}

.second-section .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  padding: 2rem 1.75rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}

.icon--div {
  position: relative;
  top: -55px;
}

.second-section .active--col {
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  padding: 1.5rem 1.75rem 2rem 1.81rem;
  color: #fff;
  box-shadow: none;
}

.column__title {
  color: var(--13183F, #13183f);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: auto;
}

.column--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.column--text h3 {
  color: var(--F74780, #f74780);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  margin-top: auto;
}

.column--text h3:hover,
.column--text h3:focus {
  opacity: 0.75;
}

@media screen and (min-width: 601px) {
  .row {
    flex-direction: row;
  }

  .hero--msg {
    width: 40%;
  }

  .hero--img {
    width: 45%;
  }

  .hero .container {
    margin-top: 8rem;
    height: auto;
  }

  .img--bg {
    border-radius: 150px;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: 80px;
  }

  .img--bg img {
    width: 100%;
  }

  .tilted--rectangle {
    display: block;
    width: 80%;
    height: 150%;
    transform: rotate(45deg);

    border-radius: 9.90625rem;
    background: var(
      --Gradient-2,
      linear-gradient(180deg, #4851ff 0%, #f02aa6 100%)
    );
    position: relative;
    top: -1250px;
    right: -355px;
    z-index: -2;
  }

  .members {
    z-index: 2;
    width: 100px;
    text-align: left;
    /* right: -20px; */
  }

  .course--hours {
    bottom: 150px;
    width: 140px;
    left: -30px;
  }

  .second-section {
    flex-wrap: wrap;
  }

  .second-section .active--col {
    padding: 4rem 2rem 8.6rem 2rem;
  }

  .header-hero-div {
    padding-top: 1.5rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    margin: 0 2.5em;
  }

  .footer {
    padding: 2.7rem 2.5rem;
  }

  .col {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .container {
    padding: 0 5em;
  }

  .footer {
    padding: 2.7rem 5rem;
  }

  .col {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 10em;
  }

  .footer {
    padding: 2.7rem 10rem;
  }

  .col {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1121px) and (max-width: 1199px) {
  .tilted--rectangle {
    top: -1400px;
    right: -455px;
  }
}

@media screen and (min-width: 1280px) {
  .tilted--rectangle {
    top: -1400px;
    right: -405px;
  }
}

@media screen and (min-width: 601px) and (max-width: 760px) {
  .tilted--rectangle {
    top: -1050px;
    right: -280px;
  }
}
